body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f8f8f8;
}

header{  
    background-color: #6a1b9a; /* Vibrant purple header */
    padding: 0.1em 0;
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    
}

header h1{
    margin-right: 28px;
    margin-bottom: 35px;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li a{
    color: white;
    text-decoration: none;
    margin-right:50px;
    font-weight: 600;
    font-size: 16.5px;
}

main{
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main article{
    padding-bottom: 40px;
    margin: 15px;
}

main article h2{
    margin-bottom: 25px;
    font-size: 30px;
}

main  article p{
    font-size: 17px;
}
    

footer{
    padding: 20px;
    margin-top: 30px;
    background-color: #6a1b9a;
}

footer p{
    color: white;
    text-align: center;
    font-size: 17px;
}
